// app global css in SCSS form
.plain-cursive {
  font-family: 'La Belle Aurore', cursive;
}

.plain-font {
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 700;
}

.fancy-cursive {
  font-family: 'Lovers Quarrel', cursive;
}

.border {
  border: 1px solid green;
}

.primary-rounded-btn {
  border-radius: 20px;
}
